<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<body>
<div th:insert="~{fragments/navbar.html :: navbar}"></div>
<br>
<div class="col-md-6 offset-md-3">
    <h1 class="pb-2 border-bottom" >Tecnico</h1>

    <div class="d-flex mt-3 mb-4">
        <a class="btn btn-primary" th:href="@{'/tecnico/nuevo'}">Agregar nuevo</a>
    </div>
    <table class="table datatable">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido </th>
            <th scope="col">Dni</th>
            <th scope="col">Num teléfono</th>
            <th scope="col">Edad</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tecnico, info : ${listaTecnico}">
            <th scope="row" th:text="${info.index+1}">1</th>
            <td th:text="${tecnico.firstname}"></td>
            <td th:text="${tecnico.lastname}"></td>
            <td th:text="${tecnico.dni}"></td>
            <td th:text="${tecnico.phone}"></td>
            <td th:text="${tecnico.age}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{'/tecnico/editar?id=' + ${tecnico.id}}">Editar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</html>